body{
    padding-top: 10%;
    padding-bottom: 40px;
    background-color: #eee;
    width: 100%;
    height: 100%;
}
#mainContainer{
    margin: 0 auto;
    width: 75%;
}
.input-control{
    display: block;
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    margin-top : 10px;
    
}
.input-control label{
    display: block;
    text-align: center;
}
.input-control input[type='text'],input[type='email'], input[type='password']{
    display: block;
    width: 50%; 
    margin : 0 auto;
    position: static;
}
.input-control input[type='submit'], input[type='button']{
    display: inline-block;
    margin: 0 auto;
}
form{
    display: block;
}
.formtitle{
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5%;
}

.userLayer{
	width : 50%;
	border : 1px black solid;
	border-radius : 10px;
	margin: 0 auto;
	padding-top : 30px;
	background-image: linear-gradient(skyblue, white);
	
}

.passwordLayer{
	width : 50%;
	border : 1px black solid;
	border-radius : 10px;
	margin: 0 auto;
	margin-top : 10px;
	padding : 20px;
}
