body{
    padding-top: 10%;
    padding-bottom: 40px;
    background-color: #eee;
}
#mainContainer{
    margin: 0 auto;
    width: 75%;
    background-color: white;
}
.input-control{
    display: block;
    margin: 0 auto;
    max-width: 500px;
    padding-bottom: 20px;
    
}
.input-control label{
    display: inline-block;
    width: 20%;
    text-align: right;
}
.input-control input[type='text'],input[type='email'], input[type='password']{
    display: inline-block;
    width: 50%;
    position: static;
}
form{
    display: block;
}
.formtitle{
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5%;
}
#submit{
    display: block;
    margin: 0 auto;
}
span{
	font-size : 10pt;
	display: block;
	text-align: center;
}
#emailBtn{
	display: inline-block;
}