<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.bts.dto.MemberDto" alias="MemberDto"/>
		<typeAlias type="com.kh.bts.dto.ChatInfoDto" alias="ChatInfoDto"/>
		<typeAlias type="com.kh.bts.dto.ChatRoomDto" alias="ChatRoomDto"/>
		<typeAlias type="com.kh.bts.dto.MessageDto" alias="MessageDto"/>
		<typeAlias type="com.kh.bts.dto.RoomDto" alias="RoomDto"/>
	</typeAliases>
	
	
	<mappers>
		<mapper resource="/sqls/member-mapper.xml"/>
		<mapper resource="/sqls/friend-mapper.xml"/>
		<mapper resource="/sqls/chatroom-mapper.xml"/>
		<mapper resource="/sqls/chatinfo-mapper.xml"/>
		<mapper resource="/sqls/message-mapper.xml"/>
		<mapper resource="/sqls/room-mapper.xml"/>
	</mappers>
</configuration>
